.absolute-fill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.view {
	z-index: 1;
	transition: all .5s;
	pointer-events: none;

	&.prev {
		opacity: 0;
		transform: translateX(-50%);
	}

	&.next {
		opacity: 0;
		transform: translateX(50%);
	}

	&.active {
		opacity: 1;
		z-index: 2;
		transform: translateX(0%);
	}

	.view-content {
		pointer-events: auto;
	}
}

.event-card {
	height: 390px;
}