body, html {
	height: 100%;
	padding: 0;
	overflow: hidden;
}

.absolute-fill {
	position: absolute;;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.view {
	z-index: 1;
	transition: all .5s;
	pointer-events: none;
}

.view.prev {
	opacity: 0;
	transform: translateX(-50%);
}

.view.next {
	opacity: 0;
	transform: translateX(50%);
}

.view.active {
	opacity: 1;
	z-index: 2;
	transform: translateX(0%);
}

.view .view-content {
	pointer-events: auto;
}

.navbar {
	opacity: 0;
	transition: opacity .5s;
	z-index: 3;
}

.navbar.active {
	opacity: 1;
}

.navbar-light .navbar-nav .nav-item>.nav-link {
	min-width: 100px;
	
}

#map-underlay {
	z-index: 0;
}

#toolbar {
	bottom:0;
	left:0;
	right: 0;
	position: absolute;
}